body{

  background-size:cover;
  height:100vh;
  }
#form1
{
	width: 700px;
	height: 850px;
	margin-left:1070px;
	margin-top: 100px;
	border:3px solid #007399;
    background: rgba(0,0,0,0.3);
    border-size:border-box;
 }
 #form1:hover{
 	border:2px solid white;
 }

 .imgcontainer {
  text-align: center;
  margin: -100px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
#form2{
 width:750px;
 height:650px;
 border:3px solid #007399;
 margin-top:-750px;
 margin-left:100px;
 border-size:border-box;
 background: rgba(0,0,0,0.3);
 animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#p1{
text-align:center;
font-size:80px;
animation-name: example2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {border-color: blue;}
  100%  {border-color: white;}

}
@keyframes example2 {
  0%   {color: white;}
  100%  {color: blue;}

}

input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#rem{
color:white;
font-size:20px;
}
#form3.w3-modal{
width:100px;
height:100px;
background-color:white;
}






